body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    color: #333;
}

.list-item-button,
.marketplace-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
}

.list-item-button:hover,
.marketplace-button:hover {
    background-color: #555;
}

.how-it-works,
.testimonials,
.mailing-list {
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.testimonials {
    padding: 50px 20px;
    text-align: center;
}

.testimonial-cards-container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.testimonial-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 10px;
    overflow: hidden;
    width: 300px; /* Adjust the width of each card as needed */
}

.testimonial-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.testimonial-text {
    padding: 15px;
}
